/* MessageInput.css */
.message-input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .message-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .message-input:focus {
    border-color: #007bff;
  }
  
  .send-button {
    margin-left: 10px;
    background-color: #007bff !important;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .send-button_disabled {
    background-color: #ccc !important;
  }
  
  .send-button:not(.send-button_disabled):hover {
    background-color: #0056b3;
  }
  