.sidebar {
  width: 0;
  height: calc(100% - 59px);
  position: absolute;
  z-index: 10;
  top: 59px;
  left: 0;
  background-color: var(--bg-color-secondary);
  /* box-shadow: 100px 0 0px rgba(0, 0, 0, 0.6); */
  overflow-x: hidden;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar::after {
  content: '';
  z-index: 20;
  inset: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, .05);
}

.sidebar.open {
  width: 500px;
  max-width: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
  z-index: 30;
  position: relative;
}

nav li {
  padding: 1rem;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
}

nav li:hover {
  background-color: var(--bg-color);
}